/* CSS declarations go here */
h5 {
	text-transform: uppercase;
}

.header {
	height: 100px;
}

.profile-info {
	margin-top: 1em;
}

.profile-picture {
	border-radius: 4px;
	margin-right: 0.5em;
}

.progress-links .progress {
	cursor: pointer;
	margin-bottom: 10px;
}

.game-status {
	line-height: 2;
}

#vmap {
	margin-top: 2em;
}