<template name="index">
	{{#unless currentUser}}
		<button id="agency-signup" class="btn btn-default">Login as Agency</button>
		<button id="play" class="btn btn-primary">Login as Player</button>
		<button id="agencies" class="btn btn-default">See Agencies</button>

		<div class="row">
			<div class="col-md-6">
				<div class="well">
				<button id="agencies" class="btn btn-default btn-block">See Agencies</button>
				</div>
				<div class="well">

				</div>
			</div>
			<div class="col-md-6">
				<div class="well">

				</div>
			</div>
		</div>
	{{/unless}}
</template>