<template name="layout">
	<div class="container">
		<div class="row header">
			<div class="col-md-8">
				<h1>Heal the World</h1>
			</div>

			<div class="col-md-4">
				{{#if currentUser}}
					<div class="profile-info">
						{{#if fbUsername}}<img src="http://graph.facebook.com/{{fbUsername}}/picture" class="pull-left profile-picture">{{/if}}
						Hi, {{currentUser.profile.name}}!<br>
						<button id="logout" class="btn btn-danger btn-xs">Sign out</button>
					</div>
				{{/if}}
				{{!loginButtons}}
			</div>
		</div>

		{{yield}}

		<footer class="footer">
			Created with ♥︎ by @_arnavkumar, @chithrasrinivas, @manikj92, @spinningarrow_
		</footer>
	</div>
</template>