<template name = "play">
	<link  href="jqvmap.css" media="screen" rel="stylesheet" type="text/css" />

	<div class="row">
		<div class="col-md-8">
			<div>
				<button id="start" class="btn btn-sm btn-success {{#if isGamePlaying}}hidden{{/if}}"><span class="glyphicon glyphicon-play"></span> Start</button>

				<button id="pause" class="btn btn-sm btn-primary {{#unless isGamePlaying}}hidden{{/unless}}"><span class="glyphicon glyphicon-pause"></span> Pause</button>

				<button id="restart" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-repeat"></span> Reset</button>

				<div class="game-status pull-right">
					Resource <span class="badge">{{resource}}</span>
					XP <span class="badge">{{xp}}</span>
					World Health <span class="badge">{{world_health}}</span>
					Current Region <span class="badge">{{current_region}}</span>
				</div>
			</div>

		{{#constant}}
			<div id="vmap" style="height:400px;"></div>
		{{/constant}}
		</div>
		<div class="col-md-4 well">
			<div>
				<h5>Progress Indicators</h5>
				<div class="progress-links">
					<h6>Social Equality</h6>
					<div id="progress-social" class="progress progress-striped">
						<div class="progress-bar progress-bar-{{healthGradeBS social}}" style="width: {{social}};">{{social}}</div>
					</div>

					<h6>Literacy</h6>
					<div id="progress-literacy" class="progress progress-striped">
						<div class="progress-bar progress-bar-{{healthGradeBS literacy}}" style="width: {{literacy}};">{{literacy}}
						</div>
					</div>

					<h6>Health and Sanitation</h6>
					<div id="progress-health" class="progress progress-striped">
						<div class="progress-bar progress-bar-{{healthGradeBS health}}" style="width: {{health}};">{{health}}
						</div>
					</div>

					<h6>Environment</h6>
					<div id="progress-environment" class="progress progress-striped">
						<div class="progress-bar progress-bar-{{healthGradeBS environment}}" style="width: {{environment}};">{{environment}}
						</div>
					</div>
				</div>
			</div>
			<div>
				<h5>Measures</h5>
				<div class="">
					{{#each measureButtons}}
						<button id="measure-{{this.id}}" class="btn btn-default btn-sm btn-block" {{#unless isGamePlaying}}disabled{{/unless}}>{{this.name}}</button>
					{{/each}}

					<div class="hidden">{{lastUpdate}}</div>
				</div>
			</div>
		</div>
	</div>
</template>