<template name = "play">
	<link  href="jqvmap.css" media="screen" rel="stylesheet" type="text/css" />

	<div class="row">
		<div class="col-md-8">
		{{#constant}}
			<div id="vmap" style="height:400px;"></div>
		{{/constant}}
		</div>
		<div class="col-md-4">
			<div>
				<h5> SHEL </h5>
				<div class="well">
					<div id="progress-social" class="progress progress-striped">
						<div class="progress-bar" style="width: {{social}};">{{social}}</div>
					</div>
					<div id="progress-literacy" class="progress progress-striped">
						<div class="progress-bar" style="width: {{literacy}};">{{literacy}}
						</div>
					</div>
					<div id="progress-health" class="progress progress-striped">
						<div class="progress-bar" style="width: {{health}};">{{health}}
						</div>
					</div>
					<div id="progress-environment" class="progress progress-striped">
						<div class="progress-bar" style="width: {{environment}};">{{environment}}
						</div>
					</div>
				</div>
			</div>
			<div>
				<h5> Measures </h5>
				<div class="well">
					{{#each measureButtons}}
						<button id="measure-{{this.id}}" class="btn btn-default">{{this.name}}</button><br>
					{{/each}}

					{{lastUpdate}}
				</div>
			</div>
		</div>
	</div>
</template>